@model Wkkim.Blog.Web.Models.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}
<div>

    <div style="margin:0;">
        <img src="/image/bg-with-text.png" alt="Alternate Text"
             class="px-0 py-0" style="width:100%;"/>

    </div>
    <div class="container col-xxl-12 px-0 py-0">
        <div class="row align-items-center g-5 px-3 py-2">
            <div class="col-12 col-lg-15">
                <h4 style="text-align:center; font-size:20px">
                    I am a developer who has demonstrated excellent performance across various development environments, including C#, Python, and SQL.
                </h4>
                <h4 style="text-align:center; font-size:20px">
                    Through this blog, I would like to introduce myself.
                </h4>
            </div>

        </div>
    </div>
    @* <div class="row align-items-center g-5 px-3 py-2">
        <div class="col-12 col-lg-15" >
            <h1 class="display-5 fw-bold lh-1 mb-3">
                Adaptable Developer WoongKeol Kim
            </h1>

            <p class="lead">
                A developer capable of expanding my personal skills to meet diverse environments and requirements.
                Depending on the project's needs, Proficient in using various tools, including C#, SQL, DevExpress, and Python.
                <br/>
                Primary development areas are app development using C# (WinForm, WPF) and SQL, and also expanding expertise to include ASP.Net.
                <br />
                Quickly gained specialized knowledge across various industries,
                from defense software in South Korea to government project software and automation equipment software for electric vehicle battery inspection.
            </p>
        </div>

    </div> *@
</div>

<form class="container">
    @if (Model != null && Model.Tags.Any())
    {
        <div class="row justify-content-start ">
            <H5>
                Select tags
            </H5>
        </div>

        <div class="row justify-content-start">
            <div class="col-6 d-flex mb-3">
                <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                    @foreach (var tag in Model.Tags)
                    {
                        <input type="checkbox" class="btn-check" id=@tag.Name data-tag-id="@tag.Id" autocomplete="off" checked onchange="updatePosts()" />
                        <label class="btn btn-outline-primary" for=@tag.Name>@tag.Name</label>
                    }
                </div>
            </div>
        </div>
    }
</form>

@if (Model != null && Model.BlogPosts.Any())
{
    <div class="container" id="posts">
    </div>
}

@section Scripts {

    <script type="text/javascript">
        function updatePosts() {
            var selectedTags = [];
            $('.btn-check:checked').each(function () {
                selectedTags.push($(this).data('tag-id'));
            });

            if (selectedTags.length > 0) {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("PostsByTag", "Home")',
                    data: { tagIds: selectedTags },
                    traditional: true, // 배열을 전송하기 위해 필요
                    success: function (response) {
                        $('#posts').html(response);
                    },
                    error: function () {
                    }
                });
            } else {
                $('#posts').html(''); // 태그 선택이 해제되면 게시글 목록 초기화
            }
        }

        $(document).ready(function () {
            updatePosts(); // 페이지 로드 시 초기 게시글 표시
        });
    </script>


    <script>
        function fonctionTest(tN, val) {
            console.log(tN);
            console.log(val);
            $.ajax({
                type: "POST",
                url: '@Url.Action("ReceiveData", "Home")',  // 컨트롤러 메서드의 URL
                data: { tagIdStr: tN, isChecked: val },
                success: function (response) {
                    if (response.success) {
                        alert(response.message);
                    } else {
                    }
                },
                error: function () {
                    alert("An error occurred.");
                }
            });
        }
    </script>
}